/* Header&Footer-Setup */

.navbar, #footer, .panel-default > .panel-heading {
	background-color: #F2F0F1;
}

.navbar-brand, #footer .credit, .panel-default > .panel-heading {
	color: #E61876;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: black;
	background-color: transparent;
}

.nav > li > a {
	color: #E61876;
}

.navbar-brand:hover {
	color: black;
}

.navbar-toggle .icon-bar {
	background-color: #E61876;
}

.navbar-nav {
	background-color: #F2F0F1;
	border-bottom-color: #ECECEC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #ECECEC;
	border-right-color: #ECECEC;
	border-top-color: #E61876;
	border-top-style: solid;
	border-top-width: 7px;
}

/* Content-Setup */
h1 {
    margin-top: 0;
}

.panel-body img {
	max-height: 186px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.pla_white {
	background-color: #fafafa;
	color: black;
}

.pla_skyblue {
	/* https://www.igo3d.com/media/catalog/product/cache/3/image/600x600/9df78eab33525d08d6e5fb8d27136e95/0/0/0035_sky_blue_small_1.jpg */
	background-color: #7ed5f1;
}

.pla_blue {
	/* https://www.igo3d.com/media/catalog/product/cache/3/image/600x600/9df78eab33525d08d6e5fb8d27136e95/0/0/0005_0105_blue_small_1_1.jpg */
	background-color: #202394;
}

.pla_yellow {
	/* https://www.igo3d.com/media/catalog/product/cache/3/image/600x600/9df78eab33525d08d6e5fb8d27136e95/0/0/0006_0106_yellow_small_3.jpg */
	background-color: #f6c510;
}

.pla_red {
	/* https://www.igo3d.com/media/catalog/product/cache/3/image/600x600/9df78eab33525d08d6e5fb8d27136e95/0/0/0004_0109_red_small_1_2.jpg */
	background-color: #c50709;
}

.pla_green {
	/* https://www.igo3d.com/media/catalog/product/cache/3/image/600x600/9df78eab33525d08d6e5fb8d27136e95/0/0/0007_0107_green_small_3.jpg */
	background-color: #8cd434;
}

.pla_black {
	/* https://www.igo3d.com/media/catalog/product/cache/3/image/600x600/9df78eab33525d08d6e5fb8d27136e95/0/0/0002_0108_black_small_5.jpg */
	background-color: #000000;
}

.pla_orange {
	background-color: orange;
}

.woodfill {
	/* http://colorfabb.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/w/o/woodfill_fine-175_1.jpg */
	background-color: #e9d1af;
}
