/* Header&Footer-Setup */

.navbar, .panel-default > .panel-heading {
	background-color: gray;
}

.navbar-brand, .panel-default > .panel-heading {
	color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: black;
	background-color: transparent;
}

.nav > li > a {
	color: white;
}

.navbar-brand:hover {
	color: black;
}

/* Content-Setup */
h1 {
    margin-top: 0;
}

.badges > a > img {
	margin-top: 0.5em;
	margin-right: 0.5em;
}
