/* app specific css */

/* Sticky footer styles
----------------------------------------------------------*/
html,
body {
	height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

/* Custom page CSS
----------------------------------------------------------*/
#wrap > .container {
	padding: 60px 15px 0;
}

.container .credit {
	margin: 20px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

.label-muted {
    background-color: #ccc;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
}

