/* Header&Footer-Setup */

.navbar, #footer, .panel-default > .panel-heading {
	background-color: #03A9F4;
}

.navbar-brand, #footer .credit, .panel-default > .panel-heading {
	color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: black;
	background-color: transparent;
}

.nav > li > a {
	color: white;
}

.navbar-brand:hover {
	color: black;
}

/* Content-Setup */
h1 {
    margin-top: 0;
}

h2 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.event-content a[href^="http"] {
	background: url("data:image/gif;base64,R0lGODdhCgAKAOMLACVNrDtftD9itkRmuEVnuEtsulFxvVd1v8nT6tLa7tbd7////////////////////ywAAAAACgAKAAAEJHDJCSqYM41i60KEMHiScgREQi6AcSDSFQMKhcX4LcvY3lmSCAA7") no-repeat scroll 100% 60% transparent;
	margin-right: 3px;
	padding-right: 14px;
}

.post-list {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none outside none;
}

.post-meta {
	font-size: small;
	color: #828282;
}

.post-link {
	font-size: large;
	display: block;
}

/* Post-Content  */
#postcontent img {
	display: block;
	width: 108%;
	margin-left: -4%;
	margin-right: -4%;
	margin-top: 2em;
	margin-bottom: 2em;
}

.row {
	margin-top: 1em;
	margin-bottom: 2em;
}

/* Timeline */
/* -------------------------------- 
 * Primary style
 * -------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

hr {
	display: block; height: 1px;
	border: 0; border-top: 1px solid #d7e4ed;
	margin: 1em 0; padding: 0;
}

#timeline img {
  max-width: 100%;
}

#timeline h1, h2 {
  font-weight: bold;
}

/* -------------------------------- 
 * Modules - reusable parts of our design
 * -------------------------------- */
.timeline-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.timeline-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
#timeline {
  position: relative;
  padding: 2em 0;
}
#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
}
@media only screen and (min-width: 1170px) {
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-event {
  position: relative;
  margin: 2em 0;
}
.timeline-event:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-event:first-child {
  margin-top: 0;
}
.timeline-event:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .timeline-event {
    margin: 4em 0;
  }
  .timeline-event:first-child {
    margin-top: 0;
  }
  .timeline-event:last-child {
    margin-bottom: 0;
  }
}

.event-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.event-img img {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
@media only screen and (min-width: 1170px) {
  .event-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.event-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}
.event-content:after {
  content: "";
  display: table;
  clear: both;
}
.event-content h2 {
  color: #303e49;
}
.event-content .img-center {
  margin: auto;
}
.event-content .img-album-entry {
  width: 49%;
  margin-bottom: 4px;
}
.event-content .img-album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.event-content p, .cd-timeline-content .event-read-more, .cd-timeline-content .event-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.event-content .event-read-more, .cd-timeline-content .event-date {
  display: inline-block;
}
.event-content p {
  margin: 0;
  line-height: 1.6;
}
.event-content .event-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .event-content .event-read-more:hover {
  background-color: #bac4cb;
}
.event-content .event-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.event-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .event-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .event-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .event-content .event-read-more, .cd-timeline-content .event-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .event-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .event-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .event-content .event-read-more {
    float: left;
  }
  .event-content .event-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .timeline-event:nth-child(even) .event-content {
    float: right;
  }
  .timeline-event:nth-child(even) .event-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .timeline-event:nth-child(even) .event-content .event-read-more {
    float: right;
  }
  .timeline-event:nth-child(even) .event-content .event-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

/* Primary coloring targets */
body {
	background-color: #F5F5F5;
}
#timeline {
	color: #212121;
}
hr {
	border-top: 1px solid #B6B6B6;
}
.event-img {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
  background: #03A9F4;
}
.event-content {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
}
#timeline::before {
  /* this is the vertical line */
  background: #B6B6B6;
}
.event-date {
	color: #727272
}

.etka {
	background: #2d5352;
}

.socrates {
	background: #3771c8;
}

.xpde {
	background: #0066cc;
}

.swk {
	background: #df5353;
}

.dhbw {
	background: white;
}

.sap {
	background: #f0ab00;
}

.asg {
	background: #8E1A10;
}

.cppug {
	/*background: #b62c33;*/
	background: #ffffff;
}

.busconf {
    background: #2e8b57;
}

.openhpi {
    /*background: #af1838; openhpi-red*/
    /*background: #f5a708; openhpi-yellow*/
    background: #de6611; /*openhpi-orange*/
}

.zgb {
    /*background: #e30613; zgb-red*/
    /*background: #65a3c0; zgb-blau*/
    background: white;
}

/* Palette generated by Material Palette - materialpalette.com/grey/light-blue */

.dark-primary-color    { background: #616161; }
.default-primary-color { background: #9E9E9E; }
.light-primary-color   { background: #F5F5F5; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

