/* Header&Footer-Setup */

.navbar, #footer, .panel-default > .panel-heading {
	background-color: gray;
}

.navbar-brand, #footer .credit, .panel-default > .panel-heading {
	color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: black;
	background-color: transparent;
}

.nav > li > a {
	color: white;
}

.navbar-brand:hover {
	color: black;
}

/* Content-Setup */
h1 {
    margin-top: 0;
}

.panel .panel-body .label {
    text-transform:uppercase;
}

#brocode {
	background-color: #6f2c12;
	color: #e0bc20;
}

#mymovies {
	background-color: #303F9F;
	color: white;
}

#mydiet {
	background-color: #388E3C;
	color: white;
}


#cats {
	background-color: #E09739;
	color: white;
}

#dotfiles {
	background-color: #0000c9;
	color: white;
}

.kastellApotheke {
	background-color: #4F6C4E !important;
	color: white !important;
}

#solargbr {
	background-color: #FF9;
	color: black;
}

#hARTware {
	background-color: #388E3C;
	color: white;
}

#afk-filmkreis {
	background-color: #ddd;
	color: black;
}

#herrenmode-silberzahn {
	background-color: #c7c5c6;
	color: #2f2f2f;
}

#triMoraineaudubon {
	background-color: #75bcdd;
	color: black;
}

#signal {
	background-color: #2194f1;
	color: white;
}

.pebble .panel-heading{
	background-color: #9e1c20;
	color: white;
}

.npm .panel-heading{
	background-color: #CB3837;
	color: white;
}

.rust .panel-heading{
	background-color: #FFD45E;
	color: #454C52;
}

.fa-h2 {
	font-size: 0.65em;
}

.fa {
	color: black !important;
}

.money-tooltip span {
    z-index: 10;
	display: none;
	margin-top: 25px;
	margin-left: -55px;
	max-width: 200px;
	padding: 3px 8px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px;
}
.money-tooltip:hover span {
    display: inline;
	position: absolute;
}

h2 a .fa {
	color: gray !important;
}

.outdated {
	filter: grayscale(100%);
}
.outdated:hover {
	filter: grayscale(0%);
}

.img-thumbnail {
	max-height: 80px;
}
