hr {
	margin-top: 4px;
	margin-bottom: 4px;
}

.sidebar {
	margin: 2%;
	padding: 2%;
}

.navbar, #footer {
	background-color: #6f2c12;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: white;
	background-color: transparent;
}

.nav > li > a, .navbar-brand, #footer .credit {
	color: #e0bc20;
}

.navbar-brand:hover {
	color:white;
}

.navbar-toggle .icon-bar {
	background-color: #e0bc20;
}

.panel {
	padding: 15px;
	border: 1px solid rgb(221, 221, 221);
}

.panel .panel-heading {
	margin: -15px -15px 15px;
	background-color: rgb(245, 245, 245);
	border-bottom: 1px solid rgb(221, 221, 221);
}

.panel {
	box-shadow: inset 0px 0px 10px #d8d8d8;
}

.panel .panel-heading {
	/*background-color: #e0bc20;*/
	text-align: center;
	text-transform: uppercase;
}

.panel .panel-title {
	font-weight: bold;
}

.panel .panel-heading > * {
	display: inline;
}
