<div class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img alt="Christoph Haefner" src="<!-- @echo RELATIVE_PATH -->/common/images/haefner_christoph_2020_homepage_header.png"  style="view-transition-name: portrait;"/>&nbsp;&nbsp;Christoph</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="<!-- @echo RELATIVE_PATH -->/projects/">Projects</a></li>
				<li><a href="<!-- @echo RELATIVE_PATH -->/3dprinting/">3D-Printing</a></li>
				<li><a href="<!-- @echo RELATIVE_PATH -->/events/">Events</a></li>
			</ul>
		</div>
	</div>
</div>
