<div class="row">
	<div class="col-md-2">
		<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-12">
			<div class="sidebar">
				<i class="fa fa-arrow-left"></i>&nbsp;<a href="../brcd/">Back</a>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-12">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-12 hidden-xs">
			<div class="sidebar">
				Follow the
				<a href="https://twitter.com/BroCodeBot">@BroCodeBot</a>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-10">
	<!-- Body content -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					<img src="images/left.png" />
					<h3 class="panel-title">Article {{brocode.number}}</h3>
					<img src="images/right.png" />
				</div >
				<div ng-if="brocode.caption.length > 0 ">
					{{brocode.caption}}
				</div>
				<div ng-if="brocode.description.length > 0 ">
					<hr>
					{{brocode.description}}
				</div>
			</div>
		</div>
	</div>
	 
	</div>
</div>

