<div class="row">
	<div class="col-md-2">
		<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-12">
			<div class="sidebar">
				<i class="fa fa-search"></i> Search:
				<input ng-model="query" style="width: 100%;">
			</div>
			<div class="sidebar">
				<i class="fa fa-sort-amount-asc"></i> Sort by:
				<select ng-model="orderProp">
					<option value="caption">Alphabetical</option>
					<option value="number">Number</option>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-12">
			<div class="sidebar">
				<button ng-click="random()">
					<i class="fa fa-random"></i>&ensp;Random
				</button>
			</div>
			<div class="sidebar">
				<button ng-click="all()">
					<i class="fa fa-refresh"></i>&ensp;All
				</button>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-12">
			<div class="sidebar">
				<i class="fa fa-list"></i> Rules: {{brocodeRules.length}}
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-12 hidden-xs">
			<div class="sidebar">
				Follow the
				<a href="https://twitter.com/BroCodeBot">@BroCodeBot</a>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-10">
	<!-- Body content -->
	<div class="row" ng-repeat="brocode in brocodeRules | filter:query | orderBy:orderProp">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					<img src="images/left.png" />
					<h3 class="panel-title"><a href="../brcd/#/{{brocode.number}}">Article {{brocode.number}}</a></h3>
					<img src="images/right.png" />
				</div >
				<div ng-if="brocode.caption.length > 0 ">
					{{brocode.caption}}
				</div>
				<div ng-if="brocode.description.length > 0 ">
					<hr>
					{{brocode.description}}
				</div>
			</div>
		</div>
	</div>
	 
	</div>
</div>
